@charset "utf-8";

/* Shared Page CSS */
body {
	font-family: sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
  height: 100%;
	width: 100%;
	margin-top: 0;
	margin: 0;
	padding: 0;
	padding-top: env(safe-area-inset-top);
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	margin: 0;
}

.centred {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.horizontal_centred {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.content {
	color: #080D0D;
	box-sizing: border-box;
	padding: 2%;
	padding-left: 13%;
  float: right;
	width: 100%;
	overflow-x: hidden;
	word-wrap: break-word;
}

.header {
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

.segment {
	border: 1px solid #080D0D;
	padding: 2%;
}

.subtitle {
	font-size: 80%;
}

/* Navigation */
nav {
	background-color: #080D0D;
	box-sizing: border-box;
	margin-bottom: 3%;
  width: 11%;
  position: fixed;
	height: 100%;
	z-index: 1000;
}

nav > ul {
	margin: 0;
	padding: 0;
	height: 100%;
}

nav > ul > a {
	color: #F8F8FF;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

nav > ul > a > li > img, nav > ul > li > img {
	transform: translateY(50%);
}

nav > ul > a > li, nav > ul > li {
	display: block;
  height: 10%;
	padding: 1.5%;
  margin-bottom: 3%;
	text-align: center;
  line-height: 100%;
}

.current {
	background-color: white;
	color: #080D0D;
	border: 0px;
}

/* Login Page */

#login_logo {
	top: 5%;
}

/* Data Table */
table.data-table {
	border: 1px #b4b6b6 solid;
	border-collapse: collapse;
	width: 100%;
}

table.data-table > tbody > tr > td, table.data-table > thead > tr > th {
	text-align: center;
	padding: 9px;
}

table.data-table > thead > tr > th {
	background-color: #080D0D;
	color: white;
	font-weight: normal;
}

table.data-table > tbody > tr > td {
	border-color #6a6d6d;
}


table.data-table > tbody > tr:nth-child(even) {
	background-color: #6a6d6d;
	color: white;
}

table.data-table > tbody > tr:nth-child(odd) > td {
	border-right: 1px #6a6d6d solid;
}

table.data-table > tbody > tr:nth-child(odd) > td:last-child {
	border: none;
}

table.data-table > tbody > tr > td > a {
	text-decoration: underline;
	color: inherit;
}

/* Calendar */
#google_calendar {
	border-width: 0;
	padding-left: 11%;
	width: 86%;
	height: 600px;
}
