@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300|Open+Sans');
/* CSS Document */

body,td,th
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.title
{
	font-size: 24px;
	font-weight: bold;
	color: #000080;
}

a.menu
{
	text-decoration: none;
	color: #ffffff;
}

a.menu:hover
{
	text-decoration: none;
	color: #ffff00;
	font-weight: bold;
}

.Guest
{
	color: #000080;
}
